<footer class="footer">
	<small>
	  "Odin flight booker" built by <a href="https://github.com/NuclearMachine/">NuclearMachine</a> 
	  for the <a href="http://www.theodinproject.com/courses/ruby-on-rails/lessons/building-advanced-forms">
	  OdinProject advanced forms exercise</a>
	</small>
</footer>
