<html>
  <head>
    <link type="text/css" rel="stylesheet" href="/css/dec.css">
  </head>
  <body>
    <div id = "main_div_h"> 

    <h1>HANGMAN</h1>

      <form method="post" action="/runHangman">
        LETTER: <input type="text" id="str" name = "str" >
        <button type="submit" id="apply">GUESS!</button>
      </form>

        <div id = "output_hangman"> 
          <p id = "hang_out"><%= output %></p>
        </div>      
    </div>
    
      <form method="post" action="/backMenu">
        <button type="submit" id="back_to_main">BACK</button>
      </form>
  </body
</html>