<html>
  <head>
  	<link type="text/css" rel="stylesheet" href="css/dec.css">
  </head>
  <body>
    <div id = "main_div"> 
    <h1>Sinatra Project</h1>
      <div id = "options">
        <button type="button" id="caesar_button"> Caesar Cipher </button>
        <button type="button" if="hangman"> Hang Man </button>
      </div>
    </div>
  </body
</html>