<% provide(:title, @user.username) %>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <% if @user.events.any? %>
      <h1> <%= @user.username %> events </h1>
      <ol class = "microposts">
        <%= render @user.events %>
      </ol>
      <%= will_paginate @events %>
    <% end %>
  </div>

</div>