<footer class="footer">
	<small>
	  "Private events" built by <a href="https://github.com/NuclearMachine/">NuclearMachine</a> 
	  for the <a href="http://www.theodinproject.com/courses/ruby-on-rails/lessons/associations">
	  OdinProject Basic associations exercise</a>
	</small>
</footer>
