<% provide(:title, 'All users') %>
<h1>All Users</h1>

<%= will_paginate %>

<ul class="users">
	<%= render @users %>  <%#this is a shortcut btw, real one should be aloop with render https://www.railstutorial.org/book/updating_and_deleting_users#code-index_final_refactoring%> 
</ul>

<%= will_paginate %>

