<% @attendees.each do |attendee| %>
  
  <li> 
    <%= link_to attendee.invited_user, username_to_user(attendee.invited_user) %>   
    <% if attendee.attended_event.creator == current_user%> <%#will show kick when you are event creator%>
  	  <%= link_to "[kick]", invitation_path(attendee,referrer: "events page"), method: :delete %>
    <%end%>  
  </li>

<%end%>