<% if no_attendees?(@event) %>
 <h2><%=@event.title%> has no attendees </h2>
<% else %>
<section class="user_info">
  <h2> attendees </h2>
  <ul class="users">
  		<%= render 'shared/attendee' %>
  </ul>
 </section>
  <%= will_paginate @attendees%>
<%end%>

<section class="micropost_form">    
    <% if @event.creator == current_user %>
      <%= render 'events/show/mass_invite_form' %>
    <%end%>  
</section> 
