<div class="center jumbotron">
  <h1>Welcome to "Private Events"</h1>
  <h2>Here users can send and invite people for meetups!</h2>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>