<% if @events_feed.any? %>
  <h3>Events (<%= @current_user.events.count %>) </h3>
  <ol class = "microposts">
    <%= render @events_feed %>
  </ol>
  <%= will_paginate @events_feed %>
<% else %>
	<h2> No events currently planned..</h2>
<% end %>